<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static//bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/animate/animate.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="text-white">
      
<div class="containerr-fluid">
        <div id="banner">
            <div id="overlay">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        
                        <div class="container-fluid mx-5 g-5">
                          <a class="navbar-brand text-white mx-5" href="#"> LOGO</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav marg d-flex" >
                              <a class="nav-link active  text-white mx-2  effect" aria-current="page" href="#"> Home</a>
                              

                              <a class="nav-link text-white mx-2 effect btn btn-outline-info mx-5" href="/booking">Book</a>


                              <!-- <button type="button" class="btn btn-outline-info mx-5">register</button> -->
                            </div>
                          </div>

                          <div class=" d-ld-none d-md-none" style="margin-top:-70px;"> 
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"  aria-controls="offcanvasExample"> <i class="fa-solid fa-bars"></i></button>
                                  
                             </div>
                        </div>
                      </nav>
                    </div>
            </div> 
       </div>
    </div>



<div class="content" style="background-color: white;padding:3em">
    <p class="text-dark">{{trxdeets.don_fullname}}</p>
    <form method="post" action="/paystack">
        <p class="text-dark">please confirm the amount you are donating </p>
        <p class="text-dark"> Amount: {{trxdeets.don_amt}}</p>
        <p class="text-danger">Ref Number:  {{trxdeets.don_refno}}</p>
        <button class="btn btn-primary"> confirm donation</button>
        <input type="hidden" value="{{csrf_token()}}" name="csrf_token">
    </form>
</div>

  
<div style="background-color:rgb(8, 8, 27);">
  <div class="row d-sm-flex">
      <div class="col-md-2">
          <h3>Company</h3>
          <a href="./index.html">
              <p>Home</p>
          </a>
          
          </a>
          <a href="">
              <p>Partner With Us</p>
          </a>
          <a href="about-us.html">
              <p>About Us</p>
          </a>

      </div>
      <div class="col-md-3">
          <h3>Legal</h3>
          <a href="./policies.html">
              <p>Privacy Policy</p>
          </a>
          <a href="./terms.html">
              <p>Terms of Service</p>
          </a>
      </div>
      <div class="col-md-3">
          <h3>Help</h3>
          
          <a href="./contactus.html">
              <p>services</p>
          </a>
          <!-- <a href=""> <p>Feedbacks</p></a> -->
      </div>
      <div class="col-md-3">
          <h3>Connect With Us</h3>

          <p> <a href="" style="color:white;"> <img src="./assets/img/fb.svg"
                      alt=""> Facebook</a>
          </p>
          <p> <a href="" style="color:white;"> <img src="./assets/img/ig.svg"
                      alt=""> Instagram</a>
          </p>
          <p> <a href="" style="color:white;"> <img
                      src="" alt=""> Linkedin</a>
          </p>
          <p> <a href="" style="color:white;"> <img
                      src="" alt=""> Twitter</a>
          </p>
        
      </div>
  </div>
      
</div>
</div>
</body>
</html>